[2016-02-12 19:47] alexprey opened #1 "Click to the task will reoder its"
When I click to task on the "Assigned board" then task will reordered in the list

**Step for reproduce:**

1. Create a two tasks and assigned it for one person
2. Open a "Assigned board"
3. Click to first task in the list

**Expected:**
Task still position in the list

**Actual:**
Task move to second position

[2016-02-12 19:51] alexprey opened #2 "Add name of assigned user on the "Status board""
When i view a status board i would see who work on tasks

For example we can place user name or initials on one row with task number

[2016-02-12 19:53] alexprey opened #3 "Task number is not clickable"
From any board i can't open a detail information about task

[2016-02-12 19:54] alexprey opened #4 "Add spacing between task number and summary"

[2016-02-12 19:57] alexprey opened #5 "Separate a plugin logic and views"

[2016-02-12 20:20] alexprey opened #6 "Add configuration for change ordering of columns in "Status board""

[2016-02-13 08:10] ivan-perl opened #7 "Issue cool down time setting"
As a user I want to be able to configure how quickly issue moves from hot to completely cold. So I need to have a setting which will allow setting amount of time items till complete cooling and time measure. For example 24 hours or 7 days

[2016-02-15 20:10] AuthenticEshkinKot commented on #1
Fixed in #8

[2016-02-15 20:10] #1 closed

[2016-02-16 09:37] ducemmanuel opened #9 "Move a issue have no effect on the issue values"
Hello,

I can change on the screen Taskodrome the value for fields "assigned to" & "Status", but there is no commit. When I re-open the issue values have not changed.

Best regards
Emmanuel.

[2016-02-16 09:41] ducemmanuel opened #10 "Work for Subprojects and not for Project"
Hello

When I open the Taskodrome view for a subproject I see all issues, but if I'm on the project level no informations are open.
It should be interesting to have a consolidate view of all issues on the project level.

Best regards.
Emmanuel

[2016-02-21 21:16] AuthenticEshkinKot commented on #4
Fixed in #11

[2016-02-21 21:16] #4 closed

[2016-02-21 21:16] AuthenticEshkinKot commented on #2
Fixed in #11

[2016-02-21 21:16] #2 closed

[2016-02-25 18:25] johnzastrow commented on #9
Confirmed. Fairly fresh install of v 1.2.19 and the tiles move happily around the screen, but the changes do not stick... consistently. They do seem to work some of the time. Not sure if there is a log of errors any where that I can show.

[2016-02-25 19:20] AuthenticEshkinKot commented on #9
@ducemmanuel @johnzastrow  Excuse me, but could you describe steps to reproduce this bug?

[2016-02-25 19:58] johnzastrow commented on #9
Sure.
1. Login (as an admin user)
2. Click Taskodrome (with a project selected in upper right)
3. See issues (lots - feature request for filters at top of screen)
4. Choose Assignment Board
5. Grab issue from the unassigned list on the left (confirmed status)
6. Drag into my user column
7. Note issue ID and enter into little search window in upper right to view issue details
8. Determined that no

[2016-02-25 19:59] johnzastrow commented on #9
Great plugin BTW. Just what I was hoping for. Few more features will make it even better. Thank you.

[2016-02-27 09:56] AuthenticEshkinKot commented on #3
Fixed

[2016-02-27 09:56] #3 closed

[2016-02-27 12:16] AuthenticEshkinKot commented on #9
@johnzastrow Thank you!
I've updated the project, now it emits some log messages when user work with "Assignment board". Could you repeat your steps in "Assignment board" and post logs which will appear?

[2016-03-01 21:53] johnzastrow commented on #9
I can't seem to break it anymore :-) But where do I find the logs?

[2016-03-03 11:58] AuthenticEshkinKot commented on #9
@johnzastrow Sounds good, although I don't know how can this commit help :)
Logs can be found in browser's console, which can be opened by F12 in Firefox and Chrome. I don't know about other mainstream browsers, but I'm pretty sure that they have console too.

[2016-03-05 13:54] TomR opened #14 "Status workflow is not taken into account"
It seems dat the status workflow defined is not into taken account. I can move any issue to any status but my status workflow should not permits this.

[2016-03-06 16:50] #6 closed

[2016-03-06 19:38] AuthenticEshkinKot opened #17 "Assignment/Status board buttons"
Make Assignment/Status board buttons follow the Mantis standard for sub-menus

[2016-03-07 09:45] #17 closed

[2016-03-07 11:43] #7 closed

[2016-03-10 12:12] AuthenticEshkinKot commented on #10
@ducemmanuel
I've tried to reproduce it and unfortunately, got nothing interesting. My steps:

1. I've created project "First", its subproject "First_sub1 and its subproject "First_sub1_sub1". Now my project list looks like:
First

2. I've added some issues to "First", some other issues to "First_sub1" and a couple of issues to "First_sub1_sub1"
3. Issues, that were added to "First_sub1_sub1", can

[2016-03-16 20:17] AuthenticEshkinKot commented on #5
@alexprey Could you give a little bit more detailed description of what do you mean?

[2016-04-13 08:54] AuthenticEshkinKot commented on #14
@TomR
I've reproduced this bug and I've found, that it appears even when using default UI. Does it appears when you are using default UI?

[2016-04-13 08:57] TomR commented on #14
I am using MantisBT 1.2.19 with default UI. ( no changes whatsoever )

[2016-04-13 09:04] AuthenticEshkinKot commented on #14
@TomR
I have same version.
Could you reproduce this bug using only default mantisbt interface - "View issues" -> select issue by ID -> "Change status to:"?

[2016-04-13 09:15] TomR commented on #14
In MantisBT in default U only the statusses are shown in the dropdown at the top as wel as the dropdown in de issue details which are in the workflow.
So when a issue is status "Resolved' my workflow is only permitting status to be changed to Closed or Reopened ( = custom status ). However when I use your plugin I am able to move the issue around to any status,  which is not correct.

Have a take

[2016-04-13 10:31] AuthenticEshkinKot commented on #14
@TomR
I've explored these problem deeper and found some mistakes in my test environment. So, everything is OK with mantisbt - it's bug of Taskodrome :)

[2016-04-13 10:38] TomR commented on #14
OK, will wait for a solution.

[2016-04-16 10:35] AuthenticEshkinKot commented on #14
@TomR
Fix is ready, I will wait for your feedback.

[2016-04-25 14:17] lbayle opened #24 "403 Forbidden on scripts/*.js"
Hi,
I am using Mantis 1.3.0_RC1 (no, I can't rollback to 1.2, there are features in 1.3 I realy need), and I have trouble with your plugin.
Mabe this has nothing to do with it, but I have many 403 errors :

best regards.

"NetworkError: 403 Forbidden - http://localhost/mantis13/plugins/Taskodrome/scripts/grid_common_utils.js"
"NetworkError: 403 Forbidden - http://localhost/mantis13/plugins/Taskodr

[2016-04-26 09:34] AuthenticEshkinKot commented on #24
@lbayle
I've got special Taskodrome edition for mantisbt 1.3.0_rc.1, you can find it here - https://github.com/AuthenticEshkinKot/Taskodrome/tree/mantisbt_1.3.0_rc.1.
Anyway, this error doesn't look like a bug of Taskodrome. Maybe there is something wrong with server settings or file system permissions?

[2016-04-26 12:45] lbayle commented on #24
Hi,
thank you for your quick answer.
I am trying this on Windows/XAMPP which is for me an odd platform where I'm
not familiar with permissions.
Tomorow I'll test it on a Linux server, with hopefully more success !

best regards
Louis

Louis BAYLE
Tel: +33 (0)4.42.604.734
lbayle.work@gmail.com

On Tue, Apr 26, 2016 at 11:34 AM, Maxim Kuzmin <notifications@github.com>
wrote:

[2016-06-25 20:58] xxyy opened #28 "JS error when bug assigned to unknown user"
Hi,

in Chrome on MantisBT 1.3.0-rc2 with your rc1 branch, I am getting the following JavaScript error in my Chrome Developer Tools console:

`devs_grid.js:253 Uncaught TypeError: Cannot read property 'splice' of undefined`

Because of this, no boards show at all for this project. They are shown for other projects.

These are the relevant lines:

[code]

I have placed a breakpoint on that line and

[2016-06-25 22:07] AuthenticEshkinKot commented on #28
@xxyy
Thanks for detailed description, I'll fix it soon!

[2016-06-27 20:54] AuthenticEshkinKot commented on #24
@lbayle
Hi,
I suppose, that I've found a solution for this problem:

1. Get the most recent version of Taskodrome from mantisbt_1.3.0_rc.1 branch
2. Add the following line to your Apache's httpd.conf (if it is not already there):
LoadModule access_compat_module modules/mod_access_compat.so

[2016-06-28 08:11] inorix opened #30 "Double quotes in summary field are incorrectly handled"
If the summary contains a double quote, the card text will be truncated there. Other than the minor convenience of this, if this happens to be first character, this will cause createCardSummary to fail since summary.getBounds() will be null.

[2016-06-28 18:58] #30 closed

[2016-07-01 18:48] AuthenticEshkinKot commented on #28
@xxyy
I've fixed this bug - #34

[2016-07-01 18:49] #9 closed

[2016-07-04 22:10] xxyy commented on #28
Confirmed as fixed on my instance. Thanks a lot!

[2016-07-04 22:10] #28 closed

[2016-07-27 18:55] AuthenticEshkinKot opened #37 "Popup over card"
Show popup with issue details - description, history, etc.

[2016-09-12 14:09] JaapJ opened #41 "Taskdrome would drag but not drop cards."
Hello,

I'm  using: MantisBT 1.2.19, with Plug-in: Taskodrome 0.1
(in a local-host environment, Windows 10 with Wamp-server)

Installed the Taskodrome and could drag but NOT Drop.
so I could not re-assign any issue to someone else by drag-and-drop.

Whom could help me with this issue?
I assume that I'm facing an configuration issue, but which one?

Thanks in advance,
Cheers,
Jaap

[2016-09-12 18:50] AuthenticEshkinKot commented on #41
Hello @JaapJ ,
I'll try to help you.
Could you open your browser console before trying to drop? Some useful messages may be there.
When you drop an issue does it return to its original position? Does your user have sufficient rights to reassign issues?

[2016-09-12 21:37] JaapJ commented on #41
Hello @AuthenticEshkinKot

Indeed when I drag any card and try to drop it somewhere else then it jumps back to the original position. Opening debug (F12) in the following browsers, IE v11 Chrome v53 or Firefox v48, shows no errors in the console. I'm logged in being Mantis Administrator!

Uninstalled all other plugins but issue is still there!

[2016-09-13 20:24] AuthenticEshkinKot commented on #41
@JaapJ
There is no need to uninstall other plugins - they have no impact on Taskodrome and vice versa.
Could you check your "Workflow Transitions"? All checkboxes should be enabled there. You can find it in "Manage->Manage Configuration->Workflow Transitions"

[2016-09-14 08:29] JaapJ commented on #41
@AuthenticEshkinKot
All checkboxes in the section still are enabled in "Manage->Manage Configuration->Workflow Transitions".

[2016-09-14 10:20] AuthenticEshkinKot commented on #41
@JaapJ
I've made a fix that may solve this problem. Get the latest version from mantisbt_1.2.9 branch, please.

[2016-09-14 13:32] JaapJ commented on #41
@AuthenticEshkinKot
Downloaded new Taskodrome for  MBT 1.2.9 >=
Still could not drag and drop.
Even not after restarting the Wamp-server…

But I get the following error when I double click in Windows the recent modified file known:
mantisbt-1.2.19\plugins\Taskodrome\scripts\on_load_opening.js
Then I get an error known:

Script:
c:\wamp64\www\mantisbt-1.2.19\plugins\Taskodrome\scripts\on_load_openi

[2016-09-14 20:04] AuthenticEshkinKot commented on #41
@JaapJ
https://yadi.sk/d/SowrVtdhvAsXE - this is devs_grid.js with new log messages. Replace your mantisbt/plugins/Taskodrome/scripts/devs_grid.js with it, please. Then open browser console, drag'n'drop an issue and copypaste log messages here.

[2016-09-14 22:23] JaapJ commented on #41
@AuthenticEshkinKot

Tested at MantisBT 1.2.20 , Windows 10

Within Firefox v48
(The card will not drop it stucks to the mouse pointer with the new installed dev_grids.js  (patch). I'm not sure or this is expected or not)
We get the following message in the browser its debug console:

TypeError: allowed_statuses_map[selectedCard.value.id][selectedCard.value.status] is undefined
onPressUp()
devs_gr

[2016-09-15 07:55] AuthenticEshkinKot commented on #41
@JaapJ
Thanks for detailed answer! Now I see the reason of such strange behavior.
Honestly, there are only two types of browsers for me - IE and not-IE, because in IE JS runs in one way, while in not-IE in another way. So, IE and Chrome/FF would be enough for troubleshooting.

[2016-09-15 12:54] JaapJ opened #45 "To long textstring in summary text does not fit in an issue card"
When we add a to long text string into the summary field then this text would not fit in the issue-card in the Taskodrome boards. Fixing this issue would be a nice tweak! Detected this due to the fact that other people might have the habit to cut and past error messages direct into the summary / description field.

Steps to reproduce:
Report a bug with the following summary text:
Card test TO_LONG

[2016-09-15 19:42] AuthenticEshkinKot commented on #41
@JaapJ
I've pushed a new commit - try it, please. Maybe it will help, otherwise I suggest you to check is it possible to change issue's assignee/status using default mantisbt interface with same user and for same project.

[2016-09-15 22:07] xxyy commented on #41
I also had this issue on MantisBT 1.3.0-rc2. Mentioned changes did not fix it for me - the assignment board was working, but not the status board. After some fun with Chrome's JS debugger, I found the issue outlined in #49. With these changes, the status board works again for me. :)

[2016-09-16 12:10] AuthenticEshkinKot commented on #41
@xxyy
Thanks for help! I've accepted your request.
@JaapJ
There is one more commit that maybe will help you =) Check it, please.

[2016-09-16 12:55] JaapJ commented on #41
@AuthenticEshkinKot

The yesterdays fix did fail but the one of today was success full.
I tested this for  IE v11, Chrome, Firefox, Opera and Edge (most recent versions)
it works like charm. Thanks for fixing this wonderful feature.

Closing this issue!

[2016-09-16 13:54] JaapJ opened #52 "Drag and drop in Taskdrome does not change the issue-infomation."
MantisBT 1.2.19 : After today’s fix of issue #41  we are facing another problem, known drag'n'drop does not modify the issue-id its data.

1) When I drag in Taskodrome/Assign-board any card to another column (e.g. unassigned to specific username) and click at the bug-id in the card then the Specific user should have been updated into  the  “Assigned to” field by the new username.

2) When I drag i

[2016-09-16 14:53] AuthenticEshkinKot commented on #52
@JaapJ
There can be some time lag between change on Taskodrome and update on server. Do you experience any lags on changing assignee/status with default interface?

[2016-09-19 12:18] JaapJ commented on #52
When I change  the assignee in the issue itself that the changes are direct updated.
When I drag and drop e.g. from unassigned to a specific user in the Taskodrome it seems fine.
When we are opening the just dragged issue then we do not see the modification. Returning to Taskodrome  show us the ticket in unassigned again. Same issue still when I wait some minutes between drag'n'drop versus checkin

[2016-09-19 14:42] AuthenticEshkinKot commented on #52
@JaapJ
Some log messages should appear in console when you drag'n'drop card in Assignment board. These messages aren't warnings or errors - just info messages. New block of messages starts with "----". Could you copypaste some of these blocks here?

[2016-09-20 06:55] JaapJ commented on #52
At Assignment-board we get errors (within Chrome)
but at the status board no errors are shown when drag'n'drop.
![dragndrop-conscoleerr](https://cloud.githubusercontent.com/assets/22151164/18660298/f77a1188-7f0f-11e6-820b-bfdd7cb357ce.png)

[2016-09-20 10:12] AuthenticEshkinKot commented on #52
@JaapJ
There is a bunch of new log messages in this version, please, change your devs_grid.js and try drag'n'drop.
https://yadi.sk/d/SowrVtdhvAsXE

[2016-09-20 12:42] JaapJ commented on #52
@AuthenticEshkinKot
Grabbed the whole output:

devs_grid.js:94 ----
devs_grid.js:95 bugIndex = 0
devs_grid.js:199 requestToken.onreadystatechange UNKNOWN: readyState=2 status=200
devs_grid.js:199 requestToken.onreadystatechange UNKNOWN: readyState=3 status=200
devs_grid.js:112 requestToken OK
devs_grid.js:139 page_text:
devs_grid.js:140 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN

[2016-09-20 13:33] AuthenticEshkinKot commented on #52
@JaapJ
I see the problem, thanks. I think, it would be better to delete your last comment, because it's rather big =)
Try new devs_grid.js - https://yadi.sk/d/SowrVtdhvAsXE

[2016-10-27 11:51] #37 closed

[2016-11-22 09:06] alexprey opened #62 "Error when open a configuration page"
APPLICATION WARNING #100: Configuration option "plugin_Taskodrome_status_board_order_default" not found.
SYSTEM WARNING: 'implode(): Invalid arguments passed' in '/home/virtwww/w_miracle-i-perl0_be3f9902/http/mantis/plugins/Taskodrome/pages/config_page.php' line 34
Default value:

APPLICATION WARNING #100: Configuration option "plugin_Taskodrome_status_board_order" not found.

SYSTEM WARNING: 'Inv

[2016-11-22 09:07] alexprey opened #63 "Status board is not working"
When I open the status board, it's shown an empty page for me (see screenshot below)

http://screenshot.su/show.php?img=4db44b3730cb12a1b3a184ecf497ade5.jpg

[2016-11-22 09:10] alexprey opened #64 "Make the description popup less width"
Make the task description popup less width, for exaple (500px or 600px), It's make description is more readable for users.

[2016-11-22 09:13] alexprey opened #65 "Popup is truncated by window, when task is near with right edge"
When I try to see the task description with popup, which placed is near with right edge of browser window, it's truncated (see screenshot below). The same problem with bottom edge of canvas.

http://screenshot.su/show.php?img=a4ff9bf58780b32d430e7b4d9c57f45f.jpg
http://screenshot.su/show.php?img=e0f87f87ed3a1ba895881edc2142e3cb.jpg

[2016-11-22 09:16] alexprey opened #66 "Task number as a link doesn't have any hover effects"
As I user, I would like that interface should be undestandable:
 - Change the cursor to (pointer) when mouse is over on task numer in the task card on the board
 - Add hover effect to this link (use the same style as used in Mantis)

http://screenshot.su/show.php?img=abd6de7aaf4f4280573f29236b885414.jpg

[2016-11-22 09:26] ivan-perl opened #67 "Link to the wrong page in plag-in description"
In plug-in details wrong link is set for Web site. It is pointing to the personal repo instead of official page in mantisbt plug-ins space.

Should be this one:
https://github.com/mantisbt-plugins/Taskodrome

[2016-11-22 16:30] #67 closed

[2016-11-25 10:43] AuthenticEshkinKot commented on #64
Hello, @alexprey !
Will it be OK, if popup's width will be equal to its card width?

[2016-11-25 16:12] alexprey commented on #64
If it's have width more that 300px, I think - yes.

[2016-11-28 19:20] #63 closed

[2016-11-28 19:20] #62 closed

[2016-11-30 19:26] #65 closed

[2016-12-02 12:11] #64 closed

[2016-12-18 19:53] xxyy opened #81 "2.0.0 support"
I just upgraded my Mantis installation to 2.0.0-rc.2. I noticed that Taskodrome is not yet fully compatible with that version. Changing the target version in `Taskodrome.php` to `2.0.0` allows me to enable the plugin, but does not show the link to Taskodrome/main in the new navbar and causes an error trying to access the plugin config page. The main page remains white with a JavaScript error in th

[2017-01-09 19:30] AuthenticEshkinKot commented on #81
Hi, @xxyy !
I started working on support of 2.0.0 couple of weeks ago and I have some progress. I am planning to push a separate branch for 2.0.0 till the end of this week.

[2017-01-14 14:14] AuthenticEshkinKot commented on #81
Hi, @xxyy
I've added support of MantisBT 2.0.0. You can get appropriate version of the plugin from https://github.com/mantisbt-plugins/Taskodrome/tree/mantisbt_2.0.0 or from master branch - there is no difference between them.
Unfortunately, there is no link on the plugin in bugtracker's new sidebar, because old way was removed and as I know, there is no new way to add it. To get access to the plu

[2017-01-16 09:34] xxyy commented on #81
@AuthenticEshkinKot works perfectly for me, thanks a lot!

I took a look at the icon, see #89.

[2017-01-16 09:34] #81 closed

[2017-02-04 11:10] luzpaz opened #92 "Update UI to the new mantisbt 2.0 GUI style"
Current implementation of Taskodrome looks like this on 2.0:
![image](https://cloud.githubusercontent.com/assets/4140247/22618021/5b5931a6-eaa0-11e6-8ac3-e8c580949fe4.png)
The styles clashe. Any plans to tweak this?

[2017-02-04 14:27] AuthenticEshkinKot commented on #92
I have a desire to change it, but haven't got any mockups.

[2017-02-04 14:37] AuthenticEshkinKot opened #93 "Metrics"
Need to add new screen with current project metrics - issue statuses, user stats etc.
It should look like:
![default](https://cloud.githubusercontent.com/assets/2103955/22619210/3edf8200-eb09-11e6-8255-31980dcd04d7.jpg)

[2017-02-07 21:23] rmeske opened #94 "Microsoft Edge not compatible"
Hello,

When using Microsoft Edge, the view for Taskodrome has the MantiBT header expanded to cover half the window.  Using MantisBT version 2.1.0
![taskodrome-edge-issue](https://cloud.githubusercontent.com/assets/3299975/22712133/8830b038-ed38-11e6-9c62-87bd5a290cc7.PNG)

[2017-02-07 21:27] vboctor commented on #94
This is typically caused by one of the source files included not having the appropriate UTF-8 byte marker.

[2017-02-07 21:29] rmeske commented on #52
We are encountering the same issue when dragging & dropping on the Status Board.  We drag an item to a new status and though it shows it in Taskodrome it does not update the status.  When we go to the normal Task view the status does not change.

The dragging and dropping to assign to a user does work.

[2017-02-08 08:46] AuthenticEshkinKot commented on #94
@vboctor
Do you speak about BOM (Byte Order Marker)?

[2017-02-08 08:55] atrol commented on #94
Files must **not** include BOM.
Furthermore remove white spaces after closing PHP tag if there is a closing tag at the end of a file (or even better, remove the tag)
E.g. there is one at https://github.com/mantisbt-plugins/Taskodrome/blob/master/Taskodrome/pages/main.php

[2017-02-08 09:17] hendy1 opened #95 "not working"
i have install taksodrome on mantisbt 2.1.0

the installation process is like this

1. i download the code
2. upload to mantisbt/plugin

then when i open the taskodrome tab, it doesn't display anything except for the [ Assignment board ] [ Status board ]
![mantisbt-issues](https://cloud.githubusercontent.com/assets/25633810/22730534/f7282020-ee19-11e6-8bc4-fce54328d1f8.png)
![mantisbt-taskodrome](

[2017-02-08 09:49] AuthenticEshkinKot commented on #52
@rmeske
To fix this, I need some additional info. So I ask you to perform next steps:

1. Please, replace your plugins/Taskodrome/scripts/status_grid.js with this https://yadi.sk/d/Rgtf66dQ3DUumJ.
2. Open your browser console and try to change issue status via Taskodrome.
3. In a console, find strings which start from "getValueByName_st src_string - " and "getValueByName_st res - " and copypaste t

[2017-02-08 10:31] AuthenticEshkinKot commented on #95
Hello, @hendy1
Could you show your console output?

[2017-02-08 10:59] hendy1 commented on #95
sorry i'm new at this, so i'm not really using any console though

but when i'm using the inspect element option at the console tab nothing appears
![asd](https://cloud.githubusercontent.com/assets/25633810/22734439/45522184-ee28-11e6-92a1-fc12e5c10df6.png)

[2017-02-08 15:09] rmeske commented on #95
@hendy1,
While the Console is open, try navigating away and then back to Taxodrome.  This will then capture anything written to the console log.

[2017-02-08 16:13] rmeske commented on #52
@AuthenticEshkinKot ,
In testing this morning the issues are updating with the new status.  At this time we will continue to monitor and if it happens again we will go through your steps to capture the values in the console and send.

[2017-02-08 16:36] jmascheri commented on #94
I just tried ensuring that all pages are UTF8 and do **NOT** include BOM.  I also removed any closing PHP tags that I found at the end of PHP files. (I left config_page.php alone since it had multiple open and close PHP tags and the configuration page when run is working properly.)

Unfortunately these solutions did not solve the issue.

I did notice that in the CSS, there is no height specified f

[2017-02-08 18:33] b4rt3kpl opened #96 "Project name in grid"
Is it possible to add project name in grid additional to issue subject in assigment board and status board?

[2017-02-08 21:15] AuthenticEshkinKot commented on #96
@b4rt3kpl
Hello!
There is no such functionality for today, but I'm sure, that it can be added.

[2017-02-08 21:21] AuthenticEshkinKot opened #97 "Additional log messages"
Need to add new log messages that will describe all loading stages in detail. It will help to find out the reasons of such problems #95 #52

[2017-02-08 21:33] AuthenticEshkinKot commented on #94
@jmascheri
Thanks for testing! Unfortunately, I have no copy of Edge, so I can't test Taskodrome with it.
As far as I can see, you found that bug is connected not with the plugin itself, but with tracker's styles. Could you create a bugreport for mantisbt?

[2017-02-08 22:03] jmascheri commented on #94
@AuthenticEshkinKot

I can do this but I am not sure exactly how to describe the issue on the mantisbt issue tracker.  From what I have seen, the mantisbt styles are working properly across all mantisbt pages.  The only place we have found this issue is on the Taskodrome page.  Even the Config page for Taskodrome appears properly.

Should I simply mention that the issue is happening with the Tasko

[2017-02-09 01:39] hendy1 commented on #95
here is the console output
![asd](https://cloud.githubusercontent.com/assets/25633810/22765507/443c6770-eea3-11e6-9b4b-22ad67eba466.png)

[2017-02-09 06:38] b4rt3kpl commented on #96
Hi Maxim,

Can I add this myself?

In which file is such code?

BR, Bartek

From: Maxim Kuzmin [mailto:notifications@github.com]
Sent: Wednesday, February 08, 2017 10:15 PM
To: mantisbt-plugins/Taskodrome
Cc: b4rt3k; Mention
Subject: Re: [mantisbt-plugins/Taskodrome] Project name in grid (#96)

@b4rt3kpl <https://github.com/b4rt3kpl>
Hello!
There is no such functionality for today, but I'm sure, t

[2017-02-09 06:41] vboctor commented on #94
@jmascheri This is not a bug in MantisBT core.  It is likely that either your `config_inc.php`, `custom_strings_inc.php`, etc or one of the Taskdrome files has byte order marker at the beginning.  You can fix that by using Sublime Text Editor as saving as UTF8 without BOM.

An easy way to test the source is to disable the Taskdrome plugin and see if the bug still exists.

Typically when this happe

[2017-02-09 07:03] AuthenticEshkinKot commented on #96
Of course, you can try to add it, but you'll have to change more than one file. This is how I see the changes:

1. main.php: we need to get the list of projects from Mantis API and add them to page in hidden tag
2. status_grid.js/devs_grid.js: add dropdown list to page and fill it with project names, add callbacks for the dropdown which update current page

[2017-02-09 07:33] b4rt3kpl commented on #96
OK, I think it is more complicated as I thought ;-(

Do you plan do this in short future?

From: Maxim Kuzmin [mailto:notifications@github.com]
Sent: Thursday, February 09, 2017 8:04 AM
To: mantisbt-plugins/Taskodrome
Cc: b4rt3k; Mention
Subject: Re: [mantisbt-plugins/Taskodrome] Project name in grid (#96)

Of course, you can try to add it, but you'll have to change more than one file. This is how

[2017-02-09 08:32] AuthenticEshkinKot commented on #96
I think I'll do it till the end of next week.

[2017-02-09 09:21] b4rt3kpl commented on #96
Thank You!

Are You on LinkedIn?

From: Maxim Kuzmin [mailto:notifications@github.com]
Sent: Thursday, February 09, 2017 9:33 AM
To: mantisbt-plugins/Taskodrome
Cc: b4rt3k; Mention
Subject: Re: [mantisbt-plugins/Taskodrome] Project name in grid (#96)

I think I'll do it till the end of next week.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub

[2017-02-09 15:59] jmascheri commented on #94
@vboctor It didnt seem like an issue with the MantisBT core to me either as, like you mentioned, the rest of mantis is working fine.  Unfortunately, I cannot perform the test that you mentioned because the issue only occurs on the Taskodrome plugin page and no others in Mantis.

I have already converted all of the Taskodrome files to UTF-8 without BOM and I believe that I did the same with my conf

[2017-02-09 19:25] AuthenticEshkinKot commented on #96
Yes, I have LinkedIn account.
If you talk about statuses, then first of all you need to add your custom status to Mantisbt - https://www.mantisbt.org/manual/admin.customize.status.html
After that you should add your status to Taskodrome using its configuration page - Manage -> Manage Plugins -> Taskodrome.
If you mean users, then you should add user to Mantisbt - it will appear in Taskodrome.

[2017-02-09 21:21] b4rt3kpl commented on #96
Hi Maxim,

I have alerady added statuses and users, but I write about adding project name and status in this place:

From: Maxim Kuzmin [mailto:notifications@github.com]
Sent: Thursday, February 09, 2017 8:26 PM
To: mantisbt-plugins/Taskodrome
Cc: b4rt3k; Mention
Subject: Re: [mantisbt-plugins/Taskodrome] Project name in grid (#96)

Yes, I have LinkedIn account.
If you talk about statuses, then fi

[2017-02-10 07:30] AuthenticEshkinKot commented on #96
In what place?
Now there is no way to distinguish issues by project, but I will add it.

[2017-02-10 07:49] b4rt3kpl commented on #96
From: Maxim Kuzmin [mailto:notifications@github.com]
Sent: Friday, February 10, 2017 8:31 AM
To: mantisbt-plugins/Taskodrome
Cc: b4rt3k; Mention
Subject: Re: [mantisbt-plugins/Taskodrome] Project name in grid (#96)

In what place?
Now there is no way to distinguish issues by project, but I will add it.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on G

[2017-02-10 10:54] AuthenticEshkinKot commented on #96
Unfortunately, I see only empty string. I suppose, you posted image or something else.

[2017-02-10 11:59] b4rt3kpl commented on #96
OK,

This same picture in attached file.

BR, Bartek

From: Maxim Kuzmin [mailto:notifications@github.com]
Sent: Friday, February 10, 2017 11:55 AM
To: mantisbt-plugins/Taskodrome
Cc: b4rt3k; Mention
Subject: Re: [mantisbt-plugins/Taskodrome] Project name in grid (#96)

Unfortunately, I see only empty string. I suppose, you posted image or something else.

—
You are receiving this because you were

[2017-02-10 20:55] AuthenticEshkinKot commented on #96
@b4rt3kpl
Unfortunately, there is no any attachment here (on github) or in email notification. If you want to show me the image, please, feel free to send it to maxriderg@gmail.com or to post it here, but not via email response on github's notification (because it doesn't work in such a way).

[2017-02-12 19:34] AuthenticEshkinKot commented on #96
@b4rt3kpl
I've checked everything once again and found, that Taskodrome shows tasks from one particular project, currently chosen in Mantis. Dropdown list with projects can be found in right upper corner.
Example for Mantis-1.2:
![mantis_1 2_projects](https://cloud.githubusercontent.com/assets/2103955/22865360/cd2cbb72-f17b-11e6-86d7-15c181df5ffa.jpeg)

[2017-02-18 10:52] AuthenticEshkinKot commented on #95
@hendy1
I've added some new log messages, that may help me to solve your problem. Please, update your Taskodrome and refresh its page with console opened. After that, post its output here, just like you did it earlier.

[2017-02-18 10:53] #96 closed

[2017-02-24 16:36] hudrywudry commented on #95
@ AuthenticEshkinKot,
i have exatly the same issue like hendy1,.

mantisbt 2.1.0
php 7.0.13
5.5.5-10.1.19-MariaDB

i also have a htaccess password on the login page, maybe thats the problem

here you can see my console errors

![taskodrome_issue_01](https://cloud.githubusercontent.com/assets/26009486/23311776/965de8ba-fab7-11e6-958f-094746bf1843.jpg)

[2017-02-25 18:05] AuthenticEshkinKot commented on #95
@hudrywudry
Looks like you haven't got enough rights to access Taskodrome's scripts. Do you have such a file https://github.com/mantisbt-plugins/Taskodrome/blob/mantisbt_2.0.0/Taskodrome/.htaccess?

[2017-02-25 19:46] hudrywudry commented on #95
hi AuthenticEshkinKot,
yes, there is such an .htaccess file with exactly this content.
is this correct or should i change somthing?

thx

[2017-02-26 09:35] AuthenticEshkinKot commented on #95
@hudrywudry
It's OK, it should be there. Anyway, it looks like you have problem with Apache settings, because it doesn't allow you to load plugin's scripts.

[2017-03-30 09:06] ivan-perl commented on #94
I figured out why this happens. Generated page is wrong and Edge just appears less tolerant to it than other browsers. Here is what I see in DOM explorer in Edge:

[code]

So, all your JavaScripts and CSS references are inserted before the <head> and even before the beginning HTML document.

I've updated you main php file called main.php and placed references to CSS and JS between start and end of

[2017-03-31 16:33] EthraZa commented on #95
I got the same problem. Any hints?

[2017-03-31 16:40] EthraZa commented on #95
Oh, found it.

Just changed **Taskodrome/.htaccess** to
`Require all granted`

[2017-03-31 20:56] AuthenticEshkinKot commented on #95
@EthraZa
Thanks for help!
Did you replace all lines in **Taskodrome/.htaccess** or just add the new one?

[2017-03-31 21:24] EthraZa commented on #95
@AuthenticEshkinKot
I've just replaced all and it worked. Didn't try to add, don't  know if it would work too.

[2017-04-01 20:51] AuthenticEshkinKot commented on #95
@hendy1 @hudrywudry @EthraZa
I've added a commit for this issue, please, check it out.

[2017-04-01 20:53] AuthenticEshkinKot commented on #94
@rmeske
I've made a fix for this issue. Check it out, please.

[2017-04-03 10:50] mmpetrova opened #106 "Add possibility to filter taskodrome by "Product version""

[2017-04-03 15:14] rmeske commented on #94
@AuthenticEshkinKot , Thank you that resolved the issue.

[2017-04-03 19:15] #94 closed

[2017-04-05 06:06] vboctor opened #110 "Administrator showing up as possible assignee, thought can't be assigned issues"
We use a configuration where some of the developers have a developer account and an admin account.  The admin account is only used when performing administration access.  We don't want the handler dropdown to show the administrators account, and hence administrators don't have handler access.

In this setup, the administrator user shows up in the list, when dragging items to that column they are m

[2017-04-05 06:10] vboctor opened #111 "Description field not escaped before emitting into html"
The summary field is escaped but not the description.  See main.php on mantisbt_2.0.0.  I haven't checked other branches.

[2017-04-05 06:19] vboctor opened #112 "Only first page of issues are visible on the board"
Should all issues that match current filter be visible with potentially an upper limit, e.g. 500 issues.  One page of issues seems to be a small number.

[2017-04-15 11:46] alexprey commented on #106
It's great idea, but I think it's provide the more usability if its will be is not a filter, but its will be a grouping  in table with tasks.

For example its can looks like in Jira Ajile plugin when used the swimlines for User stories.
I try to draw the simple sketch how it's can looks:
![image](https://cloud.githubusercontent.com/assets/7888563/25063320/ea9c7492-21e9-11e7-91e2-af577e019c3f.png)

[2017-04-19 17:41] #92 closed

[2017-04-30 10:49] AuthenticEshkinKot commented on #106
@alexprey @mmpetrova
I've added this possibility. Please, check it out.

[2017-05-01 14:45] AuthenticEshkinKot commented on #111
@vboctor
I'm not sure that I've understood right, but from now all HTML-tags will be filtered out from description and summary, because tags can't be applied by EaselJS.

[2017-05-01 16:39] vboctor commented on #111
Sounds good.    Looks like you escaped description field as part of https://github.com/mantisbt-plugins/Taskodrome/pull/126/files

[2017-05-01 20:42] AuthenticEshkinKot commented on #111
OK, closing issue

[2017-05-01 20:42] #111 closed

[2017-05-06 10:51] ivan-perl commented on #106
Works fine. I guess this case can be closed.

Regards,
Ivan
sdCloud.io team

[2017-05-06 11:21] ivan-perl opened #127 "Add issues count in columns"
On status an assign boards it will be nice to have a total number of issues per column. For assignment and status board total issues count can be placed in a column header like this:
![image](https://cloud.githubusercontent.com/assets/9080607/25771901/8f612752-3266-11e7-8fe1-32cc1ad5e2c1.png)
Same for status board.

As an addition it will be great to have per-version metrics in the header of each

[2017-05-06 18:21] #106 closed

[2017-05-11 13:35] didaquis opened #132 "Difficulty reading text when using markdown"
Difficulty reading text when using markdown (see the image). HTML tags are so confusing for users.

![markdown](https://cloud.githubusercontent.com/assets/6883041/25951927/7c857064-365f-11e7-90d3-afb6d02a90ac.JPG)

[2017-05-11 16:07] AuthenticEshkinKot commented on #132
@didaquis
I've fixed this issue some commits ago, in 90c1b947d1ba39a057d6a0fc36be232b85fdb476. Are you sure that you're using the latest version?

[2017-05-11 16:16] didaquis commented on #132
Probably not! Thank you for your help.

[2017-05-11 16:16] #132 closed

[2017-05-13 10:14] #97 closed

[2017-05-13 13:13] AuthenticEshkinKot commented on #127
@ivan-perl
Done. Please, check it out.

[2017-05-13 21:24] alexprey opened #137 "Horizontal scrollbar placed at bottom of page and hidden on small screen"
When task list is very huge and project has many columns for statuses or many users then we have two scrollbars, but horizontal scrollbar visible only when vertical scrollbar scrolled to bottom.

[2017-05-14 08:31] #127 closed

[2017-06-11 19:45] alexprey opened #147 "The space between main header and swimline is too big"
The space between main header and swimline is too big. This space can be more smaleer.

![image](https://user-images.githubusercontent.com/7888563/27013988-7923bee8-4ef7-11e7-8aad-1d88d0ec66ea.png)

[2017-06-11 19:46] alexprey opened #148 "The space between swimline and first issue-card is too small"
The space between swimline and first issue-card is too small. It should be increased, f.e.x. to 15px or 20px.

![image](https://user-images.githubusercontent.com/7888563/27013996-b515317a-4ef7-11e7-99ee-aa1fc9af6880.png)

---
From sdCloud.io tead with love <3

[2017-06-11 19:48] alexprey opened #149 "Use the smaller font-size for header titles"
Use the smaller font-size for header titles. It's very hard to undestand and read the user full name. And also add the tooltip with full name of the user.

![image](https://user-images.githubusercontent.com/7888563/27014008-ee0c0454-4ef7-11e7-8209-538684c086cb.png)

---
From sdCloud.io tead with love <3

[2017-06-11 19:50] alexprey opened #150 "Add shadow to the card which in drag-mode."
Add shadow to the card which in drag-mode.

![image](https://user-images.githubusercontent.com/7888563/27014016-32f85a54-4ef8-11e7-86e5-e88af8892471.png)

---
From sdCloud.io tead with love <3

[2017-06-11 19:52] alexprey opened #151 "Add the tooltips to icons on the card"
Add the tooltips to icons on the card for more user-friendly and undestandable inteface.

![image](https://user-images.githubusercontent.com/7888563/27014025-937572fe-4ef8-11e7-9d05-e8b4b4fda46d.png)

----
From sdCloud.io team with love <3

[2017-06-11 19:54] alexprey opened #152 "Some date formats in issue card is not fit correct"
Some date formats in issue card is not fit correct. Not spacing between right border and date

![image](https://user-images.githubusercontent.com/7888563/27014030-af926db6-4ef8-11e7-973f-f264f4e385a4.png)

------
From sdCloud.io team with love <3

[2017-06-11 20:01] alexprey opened #153 "After updating to new version of Taskodrom requred the manual clear the browser cache"
After updating to new version of Taskodrom requred the manual clear the browser cache.

It is possible to add the build version of taskodrom to used static content files? It's should to help for preventint the browser caching to static resources and use immediattly the new version of static resources instead the cached version.

For example you can add additional query parameter to static resource

[2017-06-11 21:07] #152 closed

[2017-06-11 21:13] AuthenticEshkinKot commented on #137
@alexprey
In Taskodrome 1.0 I've added an ability to scroll it with arrow keys. Also, it should be scrolled automatically when you bring a card to an edge of the screen.

[2017-06-11 21:18] AuthenticEshkinKot commented on #153
@alexprey
What browser do you use?

[2017-06-11 21:34] AuthenticEshkinKot commented on #147
@alexprey
This space represents "no version" version.

[2017-06-11 21:36] AuthenticEshkinKot commented on #45
Solved in v1.0

[2017-06-11 21:36] #45 closed

[2017-06-11 22:16] alexprey commented on #137
I test the card move to the edge and it's not work for me.
Scrolling with arrows its a workaround, it's a not fix this bug, because many users prefer scrolling with mouse it more quickly and easy.

[2017-06-11 22:17] alexprey commented on #147
Ok, but "no version" is not rendered :) and this space is not required for it.

[2017-06-12 07:39] AuthenticEshkinKot commented on #137
@alexprey
But for me it works correctly both on Linux/FF and Win/Chrome. Maybe it's related to your browser cache.

[2017-06-12 07:42] AuthenticEshkinKot commented on #147
@alexprey
OK, you want to say that if I eliminate this space it would be correct. But if user wants to reset issue's version, what should he do then?

[2017-06-12 08:14] alexprey commented on #147
Hm... This zone used as dropadble for reseting the target versino? It's not clear for me :) Ok, I think we have some possible solutions to improve this point:

1. Add the line with "No version" - it say to user that this space is reserved and used
2. Optionally. What do you think about if initially space is smaller, but when user start to drag the issue-card space is incereased.

[2017-06-12 08:16] alexprey commented on #137
Ok, I test again, now draggin the issue-card is scroll the area.

[2017-06-12 08:53] AuthenticEshkinKot commented on #147
1. It's possible. But what if user create version named "No version"? =)
2. Also possible.

[2017-06-12 15:19] #137 closed

[2017-06-12 16:37] alexprey commented on #147
We can use the different styles for text. Usual for default placeholders used the gray color and italic font style.

[2017-06-13 13:54] jcarlosrga opened #158 "Port LOST for details"
If you have MANTIS in a port, different to 80, it's lost when try to see the details of an issue.

[2017-06-16 10:38] alexprey opened #159 "The yellow color of issue-card date is very hard to reading"
Please use more user-friendly color for it.

![image](https://user-images.githubusercontent.com/7888563/27223416-ffeeb672-5298-11e7-84bb-45d72bfc107d.png)

-----
From sdCloud.io team :)

[2017-06-17 12:45] #148 closed

[2017-06-17 12:48] AuthenticEshkinKot commented on #159
@alexprey
I've made some changes in color scheme https://github.com/mantisbt-plugins/Taskodrome/commit/eb8b8388878ed0c70d31def87d0a7664cfd9903f. Please, check it out and give a feedback.

[2017-06-19 14:37] alexprey opened #164 "The column width is not adjusted after window resizing"
The column width is not adjusted after window resizing

![image](https://user-images.githubusercontent.com/7888563/27290425-e00630e0-5515-11e7-94ea-ea382f44307b.png)

----------------
From sdCloud.io with love <3

[2017-06-19 14:43] alexprey commented on #159
I think that using an auto-generated colors is not a good idea. Autogenerated colors looks good when color changed in liner time in short realtime period, when user have continues contact with this text item.
Specify for design some pallet of required colors that looks are good. For example it maybe 5 or 6 primary colors. Or may be think about another way to figure out this information, may be as

[2017-06-19 17:00] AuthenticEshkinKot commented on #164
@alexprey
Is it resizing after F5?

[2017-06-19 17:40] alexprey commented on #164
Yep

[2017-06-23 10:55] alexprey opened #165 "After move issue from one version to other its affect is not correct field"
In issue we have two fields:
 - Product version - this indicates which version of product was used when this issue was created
 - Target version - this indicates when this issue should be completed

After move task from one version to another via status board it updated the product version of task, intead the target version :(

--------
From sdCloud.io team with love <3

[2017-06-23 11:01] alexprey opened #166 "Grouping by version works incorrect"
See this issue https://github.com/mantisbt-plugins/Taskodrome/issues/165

In group of version shown issues from "Product version", for grouping should use the "Target version" field.
See logic of "Roadmap" page in mantis, it use the correct grouping.

-------------
From sdCloud.io team with love <3

[2017-06-23 13:46] #165 closed

[2017-06-23 13:48] AuthenticEshkinKot commented on #166
@alexprey
Fixed, check it out.

[2017-06-23 13:48] #166 closed

[2017-06-24 14:34] #159 closed

[2017-06-24 14:37] AuthenticEshkinKot commented on #158
@jcarlosrga
Are you sure, that it is related to the plugin?

[2017-06-27 10:08] alexprey opened #175 "Task without version is not showned on assigned board"
Issues that doesn't have version is not displaying on assigned board, but on status board is ok.

------
From sdCloud.io team with love <3

[2017-06-27 10:10] alexprey commented on #159
Great! Thanks, now it's looks very usefully and gracefully! 👍

[2017-06-27 10:11] alexprey commented on #166
Thanks, now it work fine :)

[2017-06-27 10:13] alexprey commented on #137
But problem with scrolling by default way via horizontal scrollbar is still stay :(

[2017-06-27 18:44] AuthenticEshkinKot commented on #175
@alexprey
Unfortunately, I can't reproduce this bug.

[2017-06-27 20:24] alexprey commented on #175
Oh... yes, it's related with scrolling bug... Because it hard to understand that I can scroll board by horizontal axis.
You can close this issue.

[2017-06-27 20:24] #175 closed

[2017-07-02 11:05] AuthenticEshkinKot commented on #150
@alexprey
It's ready, check it out

[2017-07-02 11:05] #150 closed

[2017-07-02 11:09] alexprey opened #180 "Intorduce the Changelog.md file to repository"
The Changelog.md file can easy identify which features was added and bugs was fixed by releases.
Detail information at http://keepachangelog.com/en/1.0.0/

[2017-07-03 16:10] alexprey commented on #150
@AuthenticEshkinKot
All issues now looks strange and no shadow yet while dragging card
![image](https://user-images.githubusercontent.com/7888563/27800711-41c9b87a-6023-11e7-907f-cae58ca1472e.png)

[2017-07-03 16:12] alexprey commented on #150
Just for example looks in Jira:
![image](https://user-images.githubusercontent.com/7888563/27800762-6fba2ce2-6023-11e7-8fce-48c4db3e84f8.png)

or in Trello:
![image](https://user-images.githubusercontent.com/7888563/27800792-89fc3ece-6023-11e7-8b2b-7eca1b0bfa13.png)

[2017-07-03 17:42] AuthenticEshkinKot commented on #150
@alexprey
![shadow](https://user-images.githubusercontent.com/2103955/27803040-246dbb8e-6030-11e7-8f45-38bf2766f62d.png)
Is it a shadow, isn't it?|

[2017-07-03 17:58] alexprey commented on #150
@AuthenticEshkinKot Yes, it's look more understandable. I hope that shadow render only for cards that is drag at the current moment

[2017-07-03 18:09] AuthenticEshkinKot commented on #150
@alexprey
Yes, it's so

[2017-07-03 23:23] vboctor opened #181 "Clarify branches in readme"
As per other plugins, it is recommended to be explicit about supported MantisBT versions in readme file and indicate which branch is used for which release versions.

For example, it is unclear whether users should use `master` or `mantisbt-2.0.0` for MantisBT 2.x releases.

Here is an example of another plugin:
https://github.com/mantisbt-plugins/source-integration

[2017-07-04 07:11] froilanserohijos commented on #95
I have the same issue. OI can only see Users with Admin Rights in my Taskodrome Assignment Board.

May I ask help what did I miss-out?

![image](https://user-images.githubusercontent.com/16287774/27819064-1064fa58-60cb-11e7-9f1b-e5c6b1b19088.png)

[2017-07-04 12:56] alexprey opened #182 "Reflect an active board in URL"
It's a good idea to store information about active board in URL.
You can use this feature of the browser to change state of URL:
https://developer.mozilla.org/en/docs/Web/API/History_API

Those add the next cool features to Taskodrom:

1. After page reloading user stay on the same board
2. User can use "Back" and "Forward" buttons to navigate between boards

What do you think about this improvemen

[2017-07-04 15:41] AuthenticEshkinKot commented on #182
@alexprey
For now, user already stays on last active board after page reload. The last active board is a board, where user made the last change. But maybe you're right and it would be better if the last active board would be the last _viewed_, regardless of changes.
As I understand it, History API gives an ability to navigate browser's history. But transferring from one board to another doesn't re

[2017-07-04 16:28] alexprey commented on #182
@AuthenticEshkinKot

Yes, it's more understandable and user friendly flow.

History API gives method to change URL and store some additional information and also you can subscribe on method that invoked when user navigate by "Forward" and "Next" buttons, and you can read stored information.
See `history.pushState` and `window.onpopstate`.

[2017-07-14 10:38] AuthenticEshkinKot commented on #182
@alexprey
From now on the last viewed board will be kept after page refresh.

[2017-07-14 10:39] alexprey commented on #182
Great, thanks :)

[2017-08-26 14:33] AuthenticEshkinKot commented on #181
@vboctor
Done

[2017-08-26 14:33] #181 closed

[2017-08-26 15:09] alexprey commented on #153
It's a problem for any browser

[2017-08-31 18:45] ivan-perl opened #195 "Introduce black lists for users and statuses on boards"
As a user, I don't to see all project users and statuses on the board. Some users may represent 3pp integrations and system accounts. Some statuses maybe used as issues vaults.

Please, introduce two new plugin settings: List of hidden users and list of hidden statuses. Value for both of them can be a comma separated strings. Default values are empty lists.

-------------------
With Best Whishes,

[2017-09-03 11:38] AuthenticEshkinKot commented on #195
@ivan-perl
I've added blacklist, check it out, please

[2017-09-03 11:38] AuthenticEshkinKot commented on #180
@alexprey
Done

[2017-09-03 11:38] #180 closed

[2017-09-08 07:19] #195 closed

[2017-09-08 07:20] #24 closed

[2017-09-08 07:21] #14 closed

[2017-09-08 07:21] #10 closed

[2017-09-08 18:00] alexprey commented on #112
@AuthenticEshkinKot do you have any news about this bug? It's really block the work with board :(

----
From sdCloud.io team with love <3

[2017-09-12 18:13] #112 closed

[2017-09-12 18:16] AuthenticEshkinKot commented on #112
@vboctor @alexprey
Please, check it out.

[2017-09-14 08:47] froilanserohijos commented on #110
Why only Administrator is showing on the Assignment Board?

[2017-09-14 20:09] AuthenticEshkinKot commented on #110
@froilanserohijos
Because minimal level for users, that are shown, is "developer".

[2017-09-15 08:04] froilanserohijos commented on #110
Hi AuthenticEshkinKot,

How can the Updater access the Case reported and manipulate by trannsfering it from one status to others?

[2017-09-15 12:26] AuthenticEshkinKot commented on #110
Hi @froilanserohijos
If you want to get it immediately, replace all DEVELOPER by UPDATER in plugin's main.php. Also, do not forget to check your mantis's settings, because not all kinds of users can implement such transitions by default.
Anyway, I'll think about adding this option to plugin's configuration.

[2017-09-25 16:54] toms1342 opened #208 "Change Language Settings causes blank "Status Board""
Thank you for this wunderful plugin. It works like a charm...in english :)

If a user change the language in his MantisBT preferences, actual changed from english to german,
the "Status board" keeps blank. The "Assignment Board" is working properly.
I tested other languages with the same effect. "Assingment Board" working, "StatusBoard" blank.
Any idea, what possibly is wrong?

MantisBT 2.5.1
PHP

[2017-09-26 10:07] AuthenticEshkinKot commented on #208
Hi, @toms1342
I've tried to reproduce your bug on fresh installation of Mantis 2.6.0. I've copied "strings_english.txt" to "strings_german.txt" and changed variable, that is responsible for Status Board, and switched language in mantis. And now I see that everything is OK.
Please, try to do the same and check the result. Also, it may be useful to check all quotation marks.

[2017-09-26 23:07] toms1342 commented on #208
Thank you for your fast response. It is not a bug! It is more something like a workaround that has to be done. Here is what I did:
My goal was to hide the user "administrator".
So I put his name on the list of "Hidden users" and did "Update Konfiguration".
![image](https://user-images.githubusercontent.com/29711367/30888190-6d3d35e2-a31f-11e7-9771-e870517f76d3.png)
The following was written to the

[2017-09-26 23:22] toms1342 commented on #208
Do you plan to integrate a rigths management?
It would be very helpful to define who can use the plugin (user threshold).
For example:
Viewers, Reporters and Testers have no access ... Developers, Managers can access the plugin.

[2017-09-27 20:44] AuthenticEshkinKot commented on #208
@toms1342
If you want to apply configuration to specific project, you should choose this project in dropdown list in upper right corner. It's mantis's element and it's always there.
You can manage rights in mantis itself. Take a look at pages at "Manage->Manage Configuration".

[2017-10-06 15:14] mmpetrova opened #209 "Taskodrome looks very big - there is a lot of useless information"
We have a lot of Iterations / Product version on the list, but most of them do not have any connected tasks.... So we have a lot of empty area here...
?? May be it will be good to add possibility to expand/collapse iterations or not to show them on the list?
//I think 1st is the best decision..... And idk, but may be it will be good to have collapsed mode by default?

With love from @Sdcloud team

[2017-10-31 13:55] tezma90 opened #210 "Issue assignment visibility overridden."
I have set reporter level users to not be able to see the person an issue is assigned to and also to only be able to see their own issues.
Using taskodrome reporter level users have access to the plugin, and they see which user their issue is assigned to completely disregarding mantis configuration.

[2017-10-31 14:00] tezma90 opened #211 "Add plugin accessibility threshold"
This tool might give certain users too much insight on a project inner working. A threshold level would mean that this plugin will become a manager-only tool, and not something any user can access and meddle with.

For example:
`public function config()`
`{`
  `  $status_list = explode(',', lang_get( 'status_enum_string' ));`
  `  foreach( $status_list as $key => $value ) {`
    `    $status_list[

[2017-10-31 17:20] #41 closed

[2017-10-31 17:20] #52 closed

[2017-10-31 17:21] #149 closed

[2017-10-31 17:22] #164 closed

[2017-10-31 17:22] #182 closed

[2017-10-31 17:22] #208 closed

[2017-11-04 17:26] AuthenticEshkinKot commented on #210
@tezma90
How did you achieve this? Did you make all issues private?

[2017-11-04 17:37] AuthenticEshkinKot commented on #93
Already implemented in MantisBT 2.0

[2017-11-04 17:37] #93 closed

[2017-11-04 17:41] #158 closed

[2017-11-08 13:15] tezma90 commented on #210
Under Manage > Manage Configuraition > Workflow Threshold > Issues > Limit reporter's access to their own issues set to true.
 Manage > Manage Configuraition > Workflow Threshold > Other > View Assigned To set to false.

[2017-11-10 11:25] alexprey opened #212 "Taskodrom dosn't display information about relationships of issues"
We have some couple of issues. One of those it is an Epic issue, and other related to this as child. F.ex.

issue.001 - Epic
issue.002 - Some implementation for Epic (Child of issue.001)
issue.003 - Some another implementation for Epic (Child of issue.001)
issue.004 - Some addtional changes for Epic (Child of issue.001)
issue.005 - Issue for testing of Epic (Child of issue.001)
issue.006 - Some re

[2017-11-12 13:55] AuthenticEshkinKot commented on #210
@tezma90
I've applied your settings to every MantisBT version, supported by the plugin (in my case - 1.2.9, 1.3.0 and 2.0.0), and I should say, that reporter sees issues created by himself and nothing more. And this behaviour is same for the tracker and the plugin.
What version of MantisBT do you use?

[2017-11-13 12:56] tezma90 commented on #210
I was using version 2.8.0
Then I guess it's simply that, my bad.

[2017-11-18 12:58] AuthenticEshkinKot commented on #210
@tezma90
I've tried to reproduce it in MantisBT 2.8.0 and got same visibility both in the plugin and in the tracker.

[2017-11-21 15:44] tezma90 commented on #210
@AuthenticEshkinKot yes, I can not reproduce the problem anymore.

[2017-11-21 15:45] #210 closed

[2017-12-11 13:02] ivan-perl opened #213 "Add a toggle switch to show/hide empty project version"
It will be useful to add a switch to show/hide empty project versions on Status board. For example it can looks as follows
![image](https://user-images.githubusercontent.com/9080607/33832307-7a249ed4-de30-11e7-8d26-82fbab81f1bc.png)

-------
Regards,
Ivan from sdCloud.io

[2017-12-27 08:28] #213 closed

[2018-01-03 09:11] Amizcho opened #218 "Cannot install_ because not presented on Manage Plugins"
Hi,

1. download this plugin for mantisbt_2.0.0
2. save this plugin to mantisbt/plugin
3. login mantis to install it , but there is no this plugin on Manage Plugins

Mantis version is 2.5.1.
PHP is 7.1.6.
Could you give me some advice?

![1 save it on plugins folder](https://user-images.githubusercontent.com/34676390/34514614-28ce4c48-f0a9-11e7-8dbd-8b59a6764442.JPG)
![2 no presented on manage plu

[2018-01-03 10:54] AuthenticEshkinKot commented on #218
Hi @Amizcho
This Taskodrome folder must contain Taskodrome.php, files, lang, etc. and must not contain Changelog.md, Screenshots, etc. In other words, it should not be from the repo root, but from Taskodrome folder.

[2018-01-05 05:16] Amizcho commented on #218
![path](https://user-images.githubusercontent.com/34676390/34596432-a083fbe4-f21a-11e7-9d05-4e04f5e50c6e.JPG)
Thanks very much. It works now.
I deleted the Screenshots folder and other files, and it became OK.

[2018-01-05 05:16] #218 closed

[2018-01-05 08:26] Amizcho commented on #212
If the relationship of issues can be shown in here
may a great help to monitor issues status.

[2018-01-05 12:02] AuthenticEshkinKot commented on #212
@alexprey, @Amizcho
I remember this issue and it is still under construction =)

[2018-01-29 21:25] #209 closed

[2018-02-04 15:30] AuthenticEshkinKot commented on #212
@alexprey, @Amizcho
Feel free to check out the latest version

[2018-02-09 16:01] aspavlov commented on #158
it is a plugin related bug. You try to generate full url here:

function getPathToMantisFile(window, filename) {
  var protocol = window.location.protocol;
  var hostname = window.location.hostname;

  var path = window.location.pathname.substr(0, window.location.pathname.lastIndexOf("/"));

  var result = protocol + "//" + hostname + path + "/" + filename;

  return result;
};

There is no port i

[2018-02-10 19:05] AuthenticEshkinKot commented on #158
@aspavlov
Попробуйте заменить hostname в этом скрипте на host.

[2018-02-11 07:39] aspavlov commented on #158
@AuthenticEshkinKot

вот фикс, который работает:

function getPathToMantisFile(window, filename) {
  var protocol = window.location.protocol;
  var hostname = window.location.hostname + ":" + window.location.port;

  var path = window.location.pathname.substr(0, window.location.pathname.lastIndexOf("/"));

  var result = protocol + "//" + hostname + path + "/" + filename;

  return result;
};

[2018-02-16 12:10] vishnyakov-aleks opened #231 "Retina support"
i dont know, why, but on macbook pro 15 2015 i see low quality items (screenshot below)
but on 27 inc 4k monitor in same browser all fine... help me please

Browser: Chrome 63.0.3239.132
os: mac os high sierra

<img width="1440" alt="2018-02-16 15 05 55" src="https://user-images.githubusercontent.com/17671328/36307061-6c933354-132b-11e8-8ae8-1f941ac563f2.png">
![2018-02-16 15 05 55 2](https://user

[2018-02-22 14:26] massontom opened #232 "Gantt chart"
Hey, I think it would be interesting to add a gantt chart to get a more suitable view for the project manager

[2018-02-22 16:15] asettico commented on #151
+1

[2018-02-23 12:27] #212 closed

[2018-03-16 09:24] lbayle opened #246 "Performance issues"
Hi,
Firefox complains avout a page slowing down the browser.
It takes a long time to display the "Assignment board"  (+200 issues to display)

Very promissing tool, we already love it !

[2018-03-27 11:25] alehmann76 opened #247 "not showing assignments when "all projects" is selected"
Hello,
when i select "all projects" (we have round about 20 different projects), and then i use the assignment board, it will show all tasks which are not assigned in the first column but all other columns are empty...but there are users with assigned tasks.
using the assignment board in just one selected project, everything is fine.

any idea?

[2018-03-27 12:48] alehmann76 opened #248 "filter to select which status to show in the status board"
Hello,

in my opinion it would be very useful to have the possibility to select which status are showed in the status board.

e.g. we don´t use the status confirmed, so i don´t need this column to show in the status board.

thanks

[2018-03-27 14:34] AuthenticEshkinKot commented on #248
@alehmann76
Hello,
You can change list of shown statuses in plugin settings in mantisbt.

[2018-03-27 14:34] #248 closed

[2018-03-27 14:37] AuthenticEshkinKot commented on #247
@alehmann76
Hello,
It would be good if I could see your output log. You can find it in your browser console.

[2018-03-28 05:48] alehmann76 commented on #247
Here is the log from the console:
[code]

i did also some testing, and to me it seems that it´s browser related .. at least here on my computer. Sorry!

when i use Google Chrome --> everything is fine 100% ok
Firefox like described above
IE showing nothing at all, just a blank frame with the header Assignment Board, Status Board, Relationship

[2018-03-28 08:08] AuthenticEshkinKot commented on #247
@alehmann76
Unfortunately, there are some problems in IE, especially with newer versions of MantisBT.

[2018-03-28 08:22] alehmann76 commented on #247
i agree with you. so i think the problem is mainly caused by the browser and not your great program!

[2018-03-28 08:22] #247 closed

[2018-04-05 13:00] Xionxionxion commented on #232
Yeah I agree, missing this functionality

[2018-07-19 20:12] gamerboy11 commented on #95
I am new to mantis BT, but I have it all working really well now (Windows server platform)
Your plugin is the first I installed and activated. But not much is showing up when I click on the Taskodrone button in the toolbar. Not sure what is going on, since everything else is working in the program so far

Here is what I see in the web page (using latest chrome browser)
![image](https://user-images

[2018-07-20 09:23] AuthenticEshkinKot commented on #95
@gamerboy11
There are some problems with newer (>=2.8.0) versions of mantisbt.

[2018-07-20 14:03] gamerboy11 commented on #95
hmmm I didnt know there was a version of mantisBT greater than 2.15.0 that is available to download. What is version 2.8.0 that you mentioned?

[2018-07-20 14:29] atrol commented on #95
There is none. 2.15.0 is the latest one at the moment, 2.16.0 will follow the next days.
2.8.0 is older than 2.15.0, I assume you got a bit confused by the numbers.

[2018-07-21 10:48] AuthenticEshkinKot commented on #95
@gamerboy11
I've fixed this problem, please check it out.

[2018-07-21 14:30] gamerboy11 commented on #95
Sorry about that, yeah, for some reason I just thought it was like 2.8 vs 2.1.5 not 2.15, even though its obviously different than that. So do I just download your latest code and try it again?

Thanks!

[2018-07-21 15:21] gamerboy11 commented on #95
So I downloaded the latest from git hub, and copied the taskodrome folder into the plugins directory on my Windows server where this is running. Same thing happens.

[2018-07-21 15:50] AuthenticEshkinKot commented on #95
What browser do you use?
Try Shift-F5 or Ctrl-R.

[2018-07-21 16:06] AuthenticEshkinKot commented on #95
I've fixed one more bug, try it again

[2018-07-21 22:31] gamerboy11 commented on #95
I have tried in IE10 IE11 and chrome, I can also try in firefox. Not sure if I tried that.
OK, will try again now. Thanks!

[2018-07-21 22:46] gamerboy11 commented on #95
Its not showing the drag and drop taskodrome screen yet. I still see the same screen as I first mentioned in this thread.

I did click on the configuration screen, and I do see that. So that is working. Just wanted to let you know that.

![taskodrome1](https://user-images.githubusercontent.com/41450503/43040590-988c33fa-8d0d-11e8-9952-40c3168ad5bd.png)

[2018-07-21 22:49] gamerboy11 commented on #95
Also, here is the latest F12 errors I see. I have never seen this type of an error before. It shows up in all the browsers too. And it seems to be related to loading the css file. I would imagine if it cant load the taskodrome.css file....that it will never look or work correctly. I wish I knew why it was complaining about that issue. I googled it several times, and didnt really get any answers ye

[2018-07-22 08:18] AuthenticEshkinKot commented on #95
I've tested the plugin in Chrome, Firefox (on linux) and IE 11 and got no errors.
There is no MIME type "text/html" in main.php. Are you sure, that you fully updated Taskodrome in mantisbt plugins directory? Are you sure, that you downloaded the plugin from the master branch?

[2018-07-22 19:16] gamerboy11 commented on #95
yep, I did exactly those things.

Maybe there is something wrong with my Microsoft IIS web server that is causing this? As an example I had to configure a mime type for those .woff2 files, otherwise the text shown on all the web pages of Mantis BT was not looking good. Once I did that, it worked great.  And I could use the admin options in MantisBT to select the different default fonts. And it wor

[2018-07-22 19:18] gamerboy11 commented on #95
I wish I knew why or how to fix it, would love to use your plugin!!!! I am about to show off mantis BT to the rest of the development team. We are going to stop using our old bug tracker and start using this Mantis BT tracker. But would love to have this plugin working too.

[2018-07-22 19:22] gamerboy11 commented on #95
Also, I was trying another plugin, and I get a very similar error. This makes me think even more that something is a little off with my IIS web server :-(

Here is the other error from a different plugin....seems like same exact thing is happening with Mantis BT for my plugins.

UGH!
Resource interpreted as Stylesheet but transferred with MIME type text/html: "http://192.168.1.111/bt/plugin_file.p

[2018-07-22 22:41] gamerboy11 commented on #95
here is another screenshot of one of the errors the browser is reporting about the UnCaught Syntax error. Not sure whats up with that.  Just thought I would put a screenshot of that in here too, so you can see the other error that I am getting. if you look back at my first or second screenshot, you see I am getting one of these errors for every js file (I think) that is related to the taskodrome p

[2018-07-23 10:31] AuthenticEshkinKot commented on #95
What version of PHP do you use?
I use 5.5.14 and I found same errors as yours.

[2018-07-23 10:36] AuthenticEshkinKot commented on #95
Surprisingly, there are no such troubles in MantisBT 2.6.0.

[2018-07-23 14:02] gamerboy11 commented on #95
I am using php 7.2.2

[2018-07-23 17:50] AuthenticEshkinKot commented on #95
Could you try the plugin in MantisBT 2.6.0?

[2018-07-23 19:35] gamerboy11 commented on #95
I cant change the version of Mantis BT on this server, because we are using it now. Sorry about that.

When I have a little free time, I could try to load version 2.6.0 on another Windows 2008 R2 server that I would have to setup on a virtual server along with IIS, and see if it works or not. But it sounds like you already know it works OK in that version ;-)

[2018-07-27 08:53] AuthenticEshkinKot commented on #95
@gamerboy11
Could you refresh Taskodrome page and then check your PHP log?

[2018-07-27 09:01] AuthenticEshkinKot commented on #95
Probably, there will be string "PHP Fatal error:  Class 'finfo' not found", which can be fixed by installation of php-fileinfo.

[2018-07-28 06:04] gamerboy11 commented on #95
its working!!! thanks so much for helping with this. So it seems like not having that fileinfo extension must have been causing it to fail for some reason.  I can see all 3 of the taskodrome main pages now. NICE!

[2018-07-28 06:13] gamerboy11 commented on #95
Now I thought I would assign a relationship from one issue, to another issue. And it shows up that way when I click into the issue detail view. But when I click on the relationship taskodrome button, it doesnt show any relationships, even though I assigned a relationship between two issues.  Is there any reason you can think of as to why the relationship would show up in the issue detail screen, b

[2018-07-30 09:17] AuthenticEshkinKot commented on #95
@gamerboy11
Unfortunately, relationship of kind "related to" is not supported on this board, only "parent of" and "child of" are supported.

[2018-08-23 11:33] stefanpahl opened #265 "Status Board View not available on all projects"
Is there a task-based limit for displaying tasks on the Status board? We are right now testing Taskodrome on a test system and sometimes tasks are shown, sometimes not. Is there a certain limit in displaying tasks? In this project we have around 450 tasks.

[2018-08-23 17:01] AuthenticEshkinKot commented on #265
There is no limit on tasks, but there is limit on main canvas height. If tasks require more than 32768 px to be shown, then there should be log message "WARNING: Unable to show issue id NNN due to canvas height exhaustion".
Could you check your browser console?

[2018-08-27 09:11] stefanpahl commented on #265
Here's what the console is saying:

getUserData() und setUserData() sollten nicht mehr verwendet werden. Verwenden Sie stattdessen WeakMap oder element.dataset.  RequestNotifier.jsm:50:8
Unbekannte Eigenschaft '-moz-osx-font-smoothing'.  Deklaration ignoriert.  font-awesome-4.6.3.min.css:4:660
Fehler beim Verarbeiten des Wertes für '-webkit-text-size-adjust'.  Deklaration ignoriert.  bootstrap-3.3

[2018-08-29 23:22] ivan-perl opened #266 "Add collaps buttons to the dependency view"
In a big project with a hierarchy of issues it will be easier to navigate on **Relationships board** if it will be possible to collapse and expand item children.

This may looks like this:
![image](https://user-images.githubusercontent.com/9080607/44821417-5265e680-abaa-11e8-97f7-db1289143d1a.png)

Cheers from sdCloud )

[2018-08-29 23:27] ivan-perl commented on #232
+1 for this. @massontom , @Xionxionxion I see a number of ways how this may look like can we try putting together some sketch on how this may look like? I think that it will be easier and quicker for @AuthenticEshkinKot to solve this if we will provide more details in enhancement requests. What do you think?

Cheers from sdCloud )

[2018-08-29 23:28] ivan-perl commented on #151
+1

[2018-08-29 23:39] ivan-perl opened #267 "Extra styling for the cards"
At this moment, to see the status of each card there is a colored indicator in the right top corner. If you have not many status and colors differs much it is easy to operate them, but in some cases it would be great to have a little bit explicit status demonstration.

For example, we have resolved issues and closed issues. Closed issues are simply not shown, but I also want resolved issues not to

[2018-10-25 05:50] alehmann76 opened #268 "Taskodrome only showing boards in "all projects""
I have the problem that Taskodrom only shows the boards when i select "all projects".
when i select a project, the page stays empty.
in the developer console i can see an error:

<code>
plugin_file.php?file=Taskodrome/scripts/grid_common_utils.js:147 Uncaught TypeError: Cannot set property 'checked' of null
    at openBoard (plugin_file.php?file=Taskodrome/scripts/grid_common_utils.js:147)
    at

[2018-12-06 11:59] iherrmann commented on #95
Is Mantis BT supposed to save changes in assignments and status, when i drag&drop an issue in TaskoDrome? At the moment i can move issues from version 4.44 to 4.45 and from engineer 1 to tester 2 and from resolved to feedback, alas al these changes are void after i switch to "view issues" and back to taskodrome. I am not sure, is taskodrome a viewer or a tool with ability to change things?

[2018-12-06 13:30] AuthenticEshkinKot commented on #95
@iherrmann
It should be able to change things

[2019-01-11 14:13] user37337 commented on #211
@tezma90 Works fine. Thank you very much!

[2019-01-29 19:54] Heldera opened #269 "Multiple target version view if project has subprojects"
In case when project has subproject (which may also has user visibility configuration) releases at taskodrome will add all releases for all projects. Each multiplied release will contains identical tasks.
For example, If I have Project and Subproject and releases A and B at Taskdrome I will see: A B A B from top to bottom. If I have Project and Subproject1, Subproject2  and releases A and B at Tas

[2019-02-09 15:28] #269 closed

[2019-02-18 08:47] cedrickzepp opened #274 "Support for version 2.18.0"
Support for version 2.18.0
I installed the file Taskodrome-mantisbt_2.0.0 but, regrettably, it is not compatible with version 2.18.0, help, please!

Best regards...

[2019-02-21 10:32] AuthenticEshkinKot commented on #274
@cedrickzepp
Hello!
Could you provide more detailed description? I've installed mantisbt 2.19.0 and taskodrome works with no problem.

[2019-02-26 11:59] bathie commented on #268
hello, same issue for me. Any updates?
Using Mantisbt 2.5.0

[2019-02-26 12:48] AuthenticEshkinKot commented on #268
@alehmann76 @bathie
Hello! Could you look your plugin pages (or page inspector in developer tools) for '<input type="radio" id="radio_dg" name="group" >'? Is it there?

[2019-02-26 15:54] bathie commented on #268
hello @AuthenticEshkinKot  , nope "<input type="radio" id="radio_dg" name="group">" is not there

[2019-02-26 19:31] cedrickzepp commented on #274
I did the installation using GIT and it does not appear in the list of plugins: attached screenshots ...
![screenshot 2019-02-26 at 13 28 40](https://user-images.githubusercontent.com/47735589/53440683-c1da5880-39ca-11e9-80d5-4212959f6b02.png)
![screenshot 2019-02-26 at 13 28 19](https://user-images.githubusercontent.com/47735589/53440684-c1da5880-39ca-11e9-9cfb-31a6c23bce52.png)
![screenshot 2019

[2019-02-26 21:31] AuthenticEshkinKot commented on #274
@cedrickzepp
I think that you need to add Taskodrome/Taskodrome directory to "plugins", not Taskodrome/ itself. To check the correctness of your installatioin, just execute "ls Taskodrome" - if "files" directory is there, then everything should be OK.

[2019-02-26 22:01] cedrickzepp commented on #274
Success, exactly so install it and it works perfect.

[2019-02-27 09:56] bathie commented on #268
@AuthenticEshkinKot  any updates?

[2019-02-27 10:26] alehmann76 commented on #268
@AuthenticEshkinKot
in the pages folder:
 main.php contains  <input type="radio" id="radio_dg" name="group" >

[2019-02-27 13:54] #274 closed

[2019-02-27 14:32] AuthenticEshkinKot commented on #268
@bathie @alehmann76
Update your main.php with https://yadi.sk/d/bUEY3Xg5PKdGKw, please
Did it help?

[2019-02-27 15:11] bathie commented on #268
@AuthenticEshkinKot thanks for the updates,
Tried it, got now another error:

common.js:54 Uncaught ReferenceError: List is not defined
    at HTMLDocument.<anonymous> (common.js:54)
    at i (jquery-2.2.4.min.js:2)
    at Object.fireWith [as resolveWith] (jquery-2.2.4.min.js:2)
    at Function.ready (jquery-2.2.4.min.js:2)
    at HTMLDocument.J (jquery-2.2.4.min.js:2)
(anonymous) @ common.js:54
i

[2019-02-27 16:39] bathie commented on #268
@AuthenticEshkinKot  seems it was due to php version,
I used php 5.4 but I tried it on another server wich use php 7.2 and all works fine.

Do we need a recent php version?

[2019-02-27 19:55] AuthenticEshkinKot commented on #268
@bathie
It looks rather strange because the plugin successfully worked on php 5 some time ago. If now it doesn't then you should update your php.

[2019-02-28 09:45] bathie commented on #268
@AuthenticEshkinKot  thanks for your help,
I finnally found the issue. it is not a php version problem but There was a php extension who was missing.
Just need to install php-mbstring

[2019-02-28 11:16] AuthenticEshkinKot commented on #268
@bathie
Added this dependency to readme. Thanks for your research!
@alehmann76
Do you have PHP mbstring installed?

[2019-02-28 12:50] bathie opened #279 "got black screen when select all projets"
hello,
I have a lot of projects, when I select a specific projet all works fine I can see all tasks ... but when I select all project, I got a black screen.  Seems it try to load all projects but it failed.

![blackscreen_taskodrome](https://user-images.githubusercontent.com/1345216/53567512-5671c180-3b57-11e9-9964-b06b8feb99f0.PNG)

Any ideas?

[2019-02-28 14:20] alehmann76 commented on #268
@AuthenticEshkinKot
i think it´s installed:
[code]

[code]

[2019-02-28 14:50] AuthenticEshkinKot commented on #268
@alehmann76
Could you try https://yadi.sk/d/bUEY3Xg5PKdGKw

[2019-03-01 06:02] alehmann76 commented on #268
@AuthenticEshkinKot
same result, not showing the content of the boards (only the top menu with status board, relationship,..)
when i select a project different to "All projects" and "Gerneral"
i tried Chrome,IE and Firefox and clear cache and forced reload!

[2019-03-01 08:21] AuthenticEshkinKot commented on #268
@alehmann76
What messages are in console (except of those in OP)? Are there any errors in PHP log?

[2019-03-01 09:40] bathie commented on #279
@AuthenticEshkinKot any updates ?

[2019-03-01 12:48] AuthenticEshkinKot commented on #279
@bathie
Unfortunately no, I've never seen such kind of a bug.
If you would like, you can try to find MAX_CANVAS_HEIGHT variable in grid_draw_utils.js and lower it, for example, to 30000 or even 20000.

[2019-03-04 06:22] alehmann76 commented on #268
@AuthenticEshkinKot
The console shows:
[code]

[2019-04-04 14:32] skechav opened #280 "Relations between issues are not shown on Relationships board"
Just installed the Taskdrome plugin on a fresh Mantisbt installation .The "defect" is **as described in the title.** It justs outputs the image with the following text on it :
"No Relations between issues" . Though, the 2 test issues are clearly related to each other on Mantis "View Issue Details" dashboard.
Also, I think I should note that it might be a Mantis issue in fact cause I cant see the r

[2019-04-04 14:59] skechav commented on #280
**RESOLVED** : IT is **NOT** an issue really. Someone just need to set
 $g_relationship_graph_enable = ON;
in [mantis isntallation folder]/config_defaults.inc.php

[2019-04-04 16:39] AuthenticEshkinKot commented on #280
Hello, @skechav !
If the problem is solved, then I'll close this issue.

[2019-04-09 08:29] #280 closed

[2019-05-28 10:25] gruessung commented on #232
+1

[2019-08-29 07:21] thanhhungtn1 commented on #246
+1 for this issue, we have 280 tickets under the filter of My View page and it took forever to load.
Please fix this issue

[2019-08-29 07:37] thanhhungtn1 commented on #246
Further investigation is I only filtered out the status and the other filtered set to default. May some issue with the selecting datas queries?

[2019-09-04 12:00] MimirRnD commented on #95
We are experiencing the same in Mantis BT 2.20.
Taskodrome is not visible.
I have finfo installed and have added the .htaccess, but nothing is visible in Taskodrome anyway

[2019-10-01 01:59] jodotlearn opened #289 "cannot move to custom status"
can not move ticket to custom status if the status name contains upper case character, e.g., Dev. Completed

[2019-10-03 01:52] jodotlearn commented on #289
modify data_source.js to fixe this issue by myself.
remove lowercase status name.

[2019-10-03 01:52] #289 closed

[2019-12-19 14:31] MWNemesis opened #294 "Status Board don't show issues"
I'm the administrator of the project and i need to have a tool to monitor the status of any issue of a specific project, actually the Tskodrome seams to show only the issue assigned to me, there is a way to schive that goal?

[2019-12-19 19:12] AuthenticEshkinKot commented on #294
Hello, @MWNemesis !
Does Status board show all issues that are shown on Assignment board?

[2019-12-19 19:23] MWNemesis commented on #294
Actually I see all the issues correctly assigned to the users in the Assign board but in the status board I have 0 issues

[2019-12-19 19:42] AuthenticEshkinKot commented on #294
I know this bug and I'll try to fix it in next few days.

[2019-12-22 12:12] #294 closed

[2019-12-22 12:15] AuthenticEshkinKot commented on #294
@MWNemesis
It should be OK now, feel free to check it out

[2020-01-02 05:27] irfanjunaid commented on #268
Hi @AuthenticEshkinKot
Saw this post while googling the same error

[code]

### My technical specs
OS: Ubuntu 18
PHP: 7.2
MySQL: 5.7
MantisBT: 2.23

I am facing the same issue. I can view the dashboard only when selecting all projects but not when selecting individual projects. Could you please help? Thanks!

[2020-01-03 04:34] irfanjunaid commented on #268
Hey @AuthenticEshkinKot Please look into this issue as our team is specifically for this feature. It would be great if all works. And I checked on the server logs and there no errors at all. Just the above error on browser console.

[2020-01-03 09:57] AuthenticEshkinKot commented on #268
Hello, @irfanjunaid !
Do you have fresh installation of the plugin? Does php contain php-mbstring?

[2020-01-03 10:07] AuthenticEshkinKot commented on #268
Also, could you check php logs?

[2020-01-03 10:25] irfanjunaid commented on #268
Hi,
Yes I have `php-mbstring` installed

[code]

So far, we have been running the plain Mantis installation without any plugins and this is the first plugin. So, I would say it is the fresh installation.

I Checked and there are no errors in the error.log. Only the usual access logs...

[2020-02-07 10:17] nenadalm commented on #246
https://github.com/mantisbt-plugins/Taskodrome/blob/58a15c5f369bfdaa9dbc6696660cc4a1b6b9cdd0/Taskodrome/pages/main.php#L34 is causing for me to that over 32 000 records per page is configured. Main document loads in 2.1 minutes and there are errors in js console, missing buttons on page and I see no tickets.

When I change `$t_per_page` to `null` it causes configuration of `50` records per page, m

[2020-02-07 12:05] nenadalm commented on #246
Related to js performance I found that when commenting out this `while`: https://github.com/mantisbt-plugins/Taskodrome/blob/23af0e093f940355fedffcf3401af54eb56b4710/Taskodrome/files/scripts/utils.js#L106 rendering time drops by ~1min.

[2020-02-10 11:24] nenadalm commented on #246
In case you're interested I started working on performance improvements: https://github.com/imatic/Taskodrome/commits/imatic_mantis2 for now js renders page with 50 records about 1minute faster (many long strings which this plugin was shortening quite a while).

[2020-02-10 12:22] AuthenticEshkinKot commented on #246
Hello, @nenadalm !
Thank you for help! I'll check out your commits.

[2020-02-10 12:37] nenadalm commented on #246
Do I understand it correctly that this plugin just renders all issues in mantis in selected project? So that if I have over 32000 issues, they will all be rendered at once (status doesn't matter) and there is no way to configure it?

[2020-02-10 12:46] AuthenticEshkinKot commented on #246
Yes, this plugin gets all available issues of current project and tries to show them. Admin can hide some users or statuses with their issues using plugin configuration.

[2020-02-10 13:02] nenadalm commented on #246
Plugin configuration won't affect number of rows from database though: https://github.com/mantisbt-plugins/Taskodrome/blob/58a15c5f369bfdaa9dbc6696660cc4a1b6b9cdd0/Taskodrome/pages/main.php#L38 right? So no matter what I configure, plugin will always fetch all 32 000 issues?

[2020-02-10 13:06] AuthenticEshkinKot commented on #246
Yep, that's right

[2020-02-10 13:23] nenadalm commented on #246
Ok, thanks. It turned out that this plugin is not something we would like to use. Feel free to merge in the performance improvements in case of tasks with long texts. I won't look more into this.

[2020-02-10 13:35] AuthenticEshkinKot commented on #246
@nenadalm
Could you make a pull request with your improvements, please? It's your work, so it would be more fair if your account would be attached to it.

[2020-02-10 14:36] nenadalm commented on #246
I don't think I can. I am getting redirections when trying to create PR: https://github.com/mantisbt-plugins/Taskodrome/compare/mantisbt-plugins:mantisbt_2.0.0...imatic:imatic_mantis2?expand=1 back to the create PR page. I don't really mind which account is attached to the changes :)

[2020-02-10 14:47] AuthenticEshkinKot commented on #246
OK :)

[2020-04-16 09:38] M44003 commented on #268
Hello @AuthenticEshkinKot any updates about this issue ?

[2020-05-25 20:34] orokhovatskiy opened #305 "Default sort in plugin"
Hello, thank you for great plugin.

I have two mantisbt systems with different versions of Taskodrome:
1.4.7 - sort works perfectly and copy settings from "view issues". In this view I have filter with sort by 'priority DESC' then by 'date created ASC';
2.1.5 - it doesn't take into account filter from "view issue". It sorts by date created ASC and don't care priority and applied filters.

Can I fi

[2020-05-29 06:49] mrsanchos opened #306 "Can't assign handler_id for new issues"
Hello,

version 2.1.5 of Taskodrome. When I try to move card from unassigned user to anyone. Status color of card dissapeared and changes doesn't save. So I can't assign new cards to my teammates.

[2020-05-30 12:02] AuthenticEshkinKot commented on #306
Hello, @orokhovatskiy !
Are you using Apache?

[2020-05-31 05:42] orokhovatskiy commented on #306
Yes

[2020-05-31 15:40] AuthenticEshkinKot commented on #306
Try to do this:
1. Set [AllowOverride](https://httpd.apache.org/docs/2.4/mod/core.html#allowoverride) option to "All" for directory which contains MantisBT installation
2. Enable [mod-rewrite](https://httpd.apache.org/docs/2.4/mod/mod_rewrite.html)

[2020-07-23 09:24] orokhovatskiy commented on #306
Sorry for so long reply. Tried without success

Config: sites-enabled/mantis-le-ssl.conf
`<IfModule mod_ssl.c>
<VirtualHost *:443>
        ServerAdmin support@example.com
        DocumentRoot "/var/www/mantis"
        ServerName 911.example.com
        ServerAlias www.911.example.com
        ErrorLog "/var/log/apache2/mantisbt-error_log"
        TransferLog "/var/log/apache2/mantisbt-access_log"

[2020-09-17 08:26] FSD-Christian-ISS opened #309 "Add categroy to card"
It would be helpful to see the bug category on each card

[2020-10-30 09:07] tjarrow opened #310 "No horizontal scroll on the bottom of page in Status Board (Opera browser)"
There is no horizontal scroll on the bottom in Opera, but it is present in Chrome browser.

[2020-10-30 16:39] AuthenticEshkinKot commented on #310
Try to use keyboard arrows, "right" or "left"

[2020-12-10 09:54] JeremyOWO commented on #305
Hello,

I encountered exactly the same problem, so I provide a pull request to take into account original filter sortinghttps://github.com/mantisbt-plugins/Taskodrome/pull/315

[2021-01-20 11:14] JFa-Orkis opened #316 "Empty Status and Relationships in Taskodrome"
Le premier tableau, assignation, est ok

[2021-01-20 12:57] JeremyOWO opened #317 "Relationship with external issues"
Hello All,

With the actual plugin, the children from external project aren't displayed.

I understand that only issue from current project are used as parent issue but then all children should be displayed.

I'm going to provide a pull request for this issue.

We could also add a conf to display all children or only current project children's

Best Regards

[2021-02-03 15:40] JeremyOWO commented on #317
Pull request created : https://github.com/mantisbt-plugins/Taskodrome/pull/318

[2021-02-14 17:40] #305 closed

[2021-02-17 08:17] messeant commented on #316
Not working on Firefox
**Working on Chrome**

[2021-03-25 15:02] Chris-Tophski opened #321 "Assigning issues, changing status etc. by Drag&Drop does not work"
We have MantisBT 2.18 and Taskodrome 2.1.8 and wanted to get started with Taskodrome after 2 years of occasional testing. Unfortunately, Drag&Drop does not work at all. We get the following error in the console: `Uncaught TypeError: page_text.match(...) is null` in function `getValueByName` from file `Taskodrome/scripts/issue_updater.js`. It seems to try to find an update token and during debuggin

[2021-05-04 12:44] lidi-boop opened #322 "No horizontal scrollbar within single projects"
Get a horizontal scrollbar only when choosing "all Projects". Within single projects theres no horizontal scrollbar. Navigating with Keys left/right ist possible, but very slow. With 15 users or more no fun.
Would also be nice to be able to sort the users. Maybe by activity or somethg, so that users with active tickets are displayed in first rows. By the way I always get just 6 rows, could be more

[2021-05-04 13:31] lidi-boop commented on #322
to correct the above, it seems to depend on the number of tickets. New Projects with 0 tickets dont have a scrollbar while projects with more than 5-6 tickets have one.

[2022-01-10 11:53] Maximus48p commented on #268
Having an simular issue when selecting a single project;

[code]
Any help is really appreciated.... thanks

[2022-01-10 12:53] Maximus48p commented on #268
I solved it by adding:

[code]

to the file main.php.

But now i'm getting this error:

[code]

[2022-03-13 16:47] krzymianowski commented on #268
I had a similar error. In my case there was a problem with access threshold. It looks like this plugin grants access based on the variable: "roadmap_view_threshold", which in my project has value: NOBODY.
Just change this value or add new variable in config_inc.php, for example: $g_taskodrome_view_threshold = DEVELOPER; and replace the values in the Taskodrome\pages\main.php file

    if( ALL_PROJ

[2022-04-14 12:50] reashetyrr opened #324 "viewer can modify/change tasks"
# The issue:

When you setup a anonymous user, or just any user with only viewer rights, you expect them to not be able to modify/change/drag tasks around since they have view only rights but those actions change the underlying issues.

this is not the case, the anonymous user can freely drag tasks around and update them like this.

-----------------------------------------------------------------

[2022-04-14 12:50] #324 closed, assigned to nobody

[2022-04-14 12:51] reashetyrr commented on #324
im an idiot, it looked like they could change but they do not save

[2022-06-22 09:15] Maximus48p commented on #268
Excellent!!!! Thank you for this solution! Works perfectly.